@using FrutosElqui.Core.Misc
@using FrutosElqui.Core.Proveedores
@{
    var sabores = ViewData["Sabores"] as List<Sabor>;
    var categorias = ViewData["Categorias"] as List<Categoria>;
    var medidas = ViewData["Medidas"] as List<Medida>;
    var proveedores = ViewData["Proveedores"] as List<Proveedor>;
}
<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nombreProducto" class="col-form-label">Nombre del producto</label>
                <input type="text" class="form-control" id="nombreProducto" required maxlength="100" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="descripcionProducto" class="col-form-label">Descripción de producto</label>
                <input type="text" class="form-control" id="descripcionProducto" required maxlength="100" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="precioMayorista" class="col-form-label">Precio Mayorista</label>
                <input type="number" class="form-control" id="precioMayorista" value="0" required maxlength="100" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="precioTotal" class="col-form-label">Precio total</label>
                <input type="number" class="form-control" id="precioTotal" required min="0"/>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="saborSelected" class="col-form-label">Sabor</label>
                <div class="input-group">
                    <select class="form-control" id="saborSelected">
                        <option value="0">-- Escoge sabor --</option>
                        @foreach (var sabor in sabores)
                        {
                            <option value="@sabor.IdSabor">@sabor.NombreSabor</option>
                        }
                    </select>&nbsp;
                    <button class="btn btn-outline-success" id="botonNuevoSabor" onclick="$('#modalNuevoSabor').modal('show')"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="categoriaSelected" class="col-form-label">Categoría</label>
                <div class="input-group">
                    <select class="form-control" id="categoriaSelected">
                        <option value="0">-- Escoge categoria --</option>
                        @foreach (var categoria in categorias)
                        {
                            <option value="@categoria.IdCategoria">@categoria.NombreCategoria</option>
                        }
                    </select>&nbsp;
                    <button class="btn btn-outline-success" id="botonNuevaCategoria" onclick="$('#modalNuevaCategoria').modal('show')"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label for="medidaSelected" class="col-form-label">Medida</label>
                <div class="input-group">
                    <select class="form-control" id="medidaSelected">
                        <option value="0">-- Escoge medida --</option>
                        @foreach (var medida in medidas)
                        {
                            <option value="@medida.IdMedida">@medida.NombreMedida</option>
                        }
                    </select>&nbsp;
                    <button class="btn btn-outline-success" id="botonNuevaMedida" onclick="$('#modalNuevaMedida').modal('show')"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="proveedorSelected" class="col-form-label">Proveedor</label>
                <div class="input-group">
                    <select class="form-control" id="proveedorSelected">
                        <option value="0">-- Escoge proveedor --</option>
                        @foreach (var proveedor in proveedores)
                        {
                            <option value="@proveedor.IdProveedor">@proveedor.NombreProveedor - @proveedor.RutProveedor</option>
                        }
                    </select>&nbsp;
                    <a class="btn btn-outline-success" id="botonNuevaMedida" asp-controller="Proveedores" asp-action="NuevoProveedor"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
            <a class="btn btn-info" asp-controller="Productos" asp-action="Index"><i class="fas fa-arrow-left"></i>&nbsp;Volver atrás</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
            <button class="btn btn-success" onclick="GuardarProducto()"><i class="far fa-plus-square"></i>&nbsp;Agregar nuevo producto</button>
        </div>
    </div>
</div>

<!--Modal sabor-->
<div class="modal fade" id="modalNuevoSabor" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo sabor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label" for="nuevoNombreSabor">Nombre del nuevo sabor</label>
                                <input class="form-control" type="text" id="nuevoNombreSabor" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="CrearSabor()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal categoria-->
<div class="modal fade" id="modalNuevaCategoria" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label" for="nuevoNombreCategoria">Nombre de la nueva categoría</label>
                                <input class="form-control" type="text" id="nuevoNombreCategoria" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="CrearCategoria()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal medida-->
<div class="modal fade" id="modalNuevaMedida" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva medida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label" for="nuevoNombreMedida">Nombre de la nueva medida</label>
                                <input class="form-control" type="text" id="nuevoNombreMedida" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="CrearMedida()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
        function CrearSabor() {
            const nuevoSabor = $('#nuevoNombreSabor').val();
            if (nuevoSabor.length > 3) {
                const dataPayload = "{ \"NombreSabor\" : \"" + nuevoSabor + "\" }";
                $.ajax({
                    url: '@Url.Action("CrearSabor", "Miscelaneos")',
                    type: 'POST',
                    async: true,
                    data: dataPayload,
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        $("#nuevoNombreSabor").val('');
                        $("#modalNuevoSabor").modal('hide');
                        Swal.fire({
                            title: '¡Exito!',
                            text: 'Se ha creado el nuevo sabor.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then(function() {
                            RefrescarSabores();
                        });
                    },
                    error: function(response) {
                        Swal.fire({
                            title: '¡Error!',
                            text: response.responseText,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Información',
                    text: 'Debe ingresar un nombre',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                });
            }
        }

        function RefrescarSabores() {
            $.ajax({
                url: "@Url.Action("ObtenerSabores", "Miscelaneos")",
                type: "GET",
                data: "",
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    let results = $.parseJSON(JSON.stringify(data));
                    document.getElementById('saborSelected').innerHTML = "";
                    $('#saborSelected').append('<option value="0">-- Escoge sabor --</option>');
                    $.each(results,
                        function(i, d) {
                            $('#saborSelected').append('<option value = "' + d.idSabor + '">' + d.nombreSabor + '</option>');
                        });
                },
                error: function(response) {
                    Swal.fire({
                        title: 'Error!',
                        text: response.responseText,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            });
        }

        function CrearCategoria() {
            const nuevaCategoria = $('#nuevoNombreCategoria').val();
            if (nuevaCategoria.length > 3) {
                const dataPayload = "{ \"NombreCategoria\" : \"" + nuevaCategoria + "\" }";
                $.ajax({
                    url: '@Url.Action("CrearCategoria", "Miscelaneos")',
                    type: 'POST',
                    async: true,
                    data: dataPayload,
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        $("#nuevoNombreCategoria").val('');
                        $("#modalNuevaCategoria").modal('hide');
                        Swal.fire({
                            title: '¡Exito!',
                            text: 'Se ha creado la nueva categoría.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then(function() {
                            RefrescarCategorias();
                        });
                    },
                    error: function(response) {
                        Swal.fire({
                            title: '¡Error!',
                            text: response.responseText,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Información',
                    text: 'Debe ingresar un nombre',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                });
            }
        }

        function RefrescarCategorias() {
            $.ajax({
                url: "@Url.Action("ObtenerCategorias", "Miscelaneos")",
                type: "GET",
                data: "",
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    let results = $.parseJSON(JSON.stringify(data));
                    document.getElementById('categoriaSelected').innerHTML = "";
                    $('#categoriaSelected').append('<option value="0">-- Escoge categoría --</option>');
                    $.each(results,
                        function(i, d) {
                            $('#categoriaSelected').append('<option value = "' + d.idCategoria + '">' + d.nombreCategoria + '</option>');
                        });
                },
                error: function(response) {
                    Swal.fire({
                        title: 'Error!',
                        text: response.responseText,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            });
        }

        function CrearMedida() {
            const nuevaMedida = $('#nuevoNombreMedida').val();
            if (nuevaMedida.length > 3) {
                const dataPayload = "{ \"NombreMedida\" : \"" + nuevaMedida + "\" }";
                $.ajax({
                    url: '@Url.Action("CrearMedida", "Miscelaneos")',
                    type: 'POST',
                    async: true,
                    data: dataPayload,
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        $("#nuevoNombreMedida").val('');
                        $("#modalNuevaMedida").modal('hide');
                        Swal.fire({
                            title: '¡Exito!',
                            text: 'Se ha creado la nueva medida.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then(function() {
                            RefrescarMedidas();
                        });
                    },
                    error: function(response) {
                        Swal.fire({
                            title: '¡Error!',
                            text: response.responseText,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Información',
                    text: 'Debe ingresar un nombre',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                });
            }
        }

        function RefrescarMedidas() {
            $.ajax({
                url: "@Url.Action("ObtenerMedidas", "Miscelaneos")",
                type: "GET",
                data: "",
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    let results = $.parseJSON(JSON.stringify(data));
                    document.getElementById('medidaSelected').innerHTML = "";
                    $('#medidaSelected').append('<option value="0">-- Escoge medida --</option>');
                    $.each(results,
                        function(i, d) {
                            $('#medidaSelected').append('<option value = "' + d.idMedida + '">' + d.nombreMedida + '</option>');
                        });
                },
                error: function(response) {
                    Swal.fire({
                        title: 'Error!',
                        text: response.responseText,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            });
        }

        function GuardarProducto() {
            const medidaSeleccionada = $('#medidaSelected').val();
            const categoriaSeleccionada = $('#categoriaSelected').val();
            const saborSeleccionada = $('#saborSelected').val();
            const nombreProducto = $('#nombreProducto').val();
            const proveedorSeleccionado = $('#proveedorSelected').val();
            if (medidaSeleccionada > 0 && categoriaSeleccionada > 0 && saborSeleccionada > 0 && proveedorSeleccionado > 0 && nombreProducto.length > 3) {
                const data = "{" +
                    "\"NombreProducto\": \""+nombreProducto+"\"," +
                    "\"DescripcionProducto\": \""+nombreProducto+"\"," +
                    "\"PrecioMayorista\": 0," +
                    "\"PrecioTotal\": 0," +
                    "\"Categoria\": "+categoriaSeleccionada+"," +
                    "\"Medida\":  "+medidaSeleccionada+"," +
                    "\"Proveedor\": "+proveedorSeleccionado+"," +
                    "\"Sabor\": "+saborSeleccionada+" " +
                    "}";
                $.ajax({
                    url: '@Url.Action("CrearNuevoProducto", "Productos")',
                    type: 'POST',
                    async: true,
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        Swal.fire({
                            title: '¡Exito!',
                            text: 'Se ha creado el nuevo producto.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then(function() {
                            location.reload();
                        });
                    },
                    error: function(response) {
                        Swal.fire({
                            title: '¡Error!',
                            text: response.responseText,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Información',
                    text: 'Debe ingresar todos los campos.',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                });
            }
        }
    </script>
}
